@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);

@import url(./_variables.css);
@import url(./_utilities.css);
@import url(./_global.css);
@import url(../components/table.css);
@import url(../components/_button.css);
@import url(../components/_text.css);







